:root {
  --main-color: #4a65ff;
  --press-color: #3c52ce;
  --light-color: #97a7ff;
  --main-bg: #eee;
  --sec-bg: #ccc;
}
body {
  background-color: var(--sec-bg);
  overflow-x: hidden;
}
header {
  /* background-color: var(--main-color); */
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px;
  padding: 5px;
  display: flex;
  align-items: center;
  padding: 0 40px;
  font-size: 1.1em;
}
.Transparent {
  background-color: transparent;
}
header nav {
  display: flex;
  width: 40%;
  gap: 30px;
}
header nav a {
  color: #ddd;
  text-decoration: none;
  transition: 200ms;
}
header nav a:hover {
  color: #fff;
}
header nav a:first-child {
  font-weight: bolder;
}
.homeSection {
  color: white;
  font-size: 1.8em;
  background: linear-gradient(180deg, var(--main-color), #2e41aa);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 650px;
  box-shadow: 0px 10px 12px #0004;
}
.homeSection div {
  text-align: left;
  width: 30%;
}
.homeSection h2{
  opacity: 0.8;
  font-size: .8em;
}
.descSection{
  font-size: 1.2em;
  padding: 12px 8%;
}
.formContainer{
  margin: auto;
  margin-top: 80px;
  width: 75vw;
  background-color: var(--main-bg);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 5px 12px #333;
  font-size: 1.2em;
}
.editFormContainer, .editNotesContainer, .editToDoContainer{
  margin: auto;
  width: 75vw;
  padding: 60px;
  font-size: 1.2em;
}
form{
  width: 100%;
}
form input,
form button {
  width: 100%;
  height: 30px;
  margin-top: 6px;
  margin-bottom: 20px;
}
form button {
  width: 10%;
}
.editFormContainer button{
  width: 30%;
}
button {
  background-color: var(--main-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 200ms;
  height: 50px;
}
button:hover {
  background-color: var(--press-color);
}
.myProjectsContainer {
  margin-top: 40px;
  padding: 20px;
}
.projectPreview {
  background-color: var(--main-bg);
  padding: 4px;
  border-radius: 6px;
  width: 21%;
  min-height: 180px;
  cursor: pointer;
  color: black;
  text-decoration: none;
  transition: 200ms;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.projectPreview:hover{
  transform: scale(1.05);
}
.projectDescriptionPreview{
  height: 50%;
}
.newProjectButton{
  height: 25px;
  margin-bottom: 20px;
}
.projectsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
}
.manageContainer {
  /* display: flex; */
  flex-direction: row;
}
.manageNav {
  display: flex;
  flex-direction: column;
  width: 5%;
  background-color: var(--sec-bg);
  min-height: 100vh;
  transition: 400ms;
  position: fixed;
  left: 0px;
  padding: 12px;
  z-index: 5;
  /* top: 60px; */
}
.manageNav:hover{
  width: 15%;
}
.revealText{
  display: none;
  opacity: 0%;
  text-wrap: nowrap;
}
.manageNav:hover .revealText{
  display: contents;
}
.mainManage{
  flex-grow: 1;
  background-color: var(--main-bg);
  min-height: 100vh;
}
.navButton{
  color: black;
  background-color: var(--sec-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15%;
}
.navButton:first-child{
  gap: 4%;
}
.navButton:hover{
  color: white;
}
.handle{
  text-align: center;
  width: 100%;
  height: 5px;
  padding: 10px 0px;
  background-color: #3333;
}
.dangerButton{
  background-color: red;
  margin-left: 20px;
}
.dangerButton:hover{
  background-color: rgb(204, 0, 0);
}
.modal{
  position: fixed;
  width: 50%;
  height: 50%;
  left: 25%;
  top: 25%;
  background-color: white;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.modal *{
  margin: 0;
}
.buttonsContainer{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.cancelButton{
  border: 1px solid black;
  background-color: var(--main-bg);
  color: black;
}
.cancelButton:hover{
  background-color: var(--sec-bg);
}
/* .editToDoContainer{
  display: flex;
  overflow-x: auto;
  gap: 20px;
} */
.toDoSection{
  margin: 12px auto;
  width: 70vw;
  color: white;
  background-color: var(--sec-bg);
  min-height: 100px;
  border-radius: 12px;
  padding: 32px 16px;
}
.toDoContainer{
  width: 100%;
  /* gap: 10px; */
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 100%;
}
.toDoItem{
  width: 90%;
  margin: 5px 0;
  border-radius: 4px;
  color: black;
  background-color: var(--light-color);
  display: flex;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.done{
  opacity: 0.8;
  position: relative;
  text-decoration: line-through;
}
.toDoItem:hover{
  background-color: #90a1e7;
}
.toDoItem:active{
  background-color: #919ad6;
  outline: 1px solid black;
}
.toDoItem button{
  width: 30px;
  height: 30px;
  margin: 0 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.taskActions{
  display: flex;
}
.addTaskBtn, .cnfgTaskBtn{
  width: 40px;
  height: 40px;
  margin: 0 2px;
}
.cnfgTaskBtn{
  background-color: gray;
}
.cnfgTaskBtn:hover{
  background-color: #555;
}
.editToDoContainer form{
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
  margin: auto;
}
.editToDoContainer form input{
  width: 60%;
  height: 38px;
  border-radius: 4px;
  border: none;
  margin: 0 2px;
}
.editNotesContainer{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.editNotesContainer h1{
  margin: 0;
  font-size: 1.1em;
}
.noteArea{
  box-sizing: border-box;
  resize: vertical;
  min-height: 22px;
  width: 100%;
  border-radius: 0 0 6px 6px;
}
.noteArea:not(:focus){
  border: none;
  box-shadow: 0 5px 5px #0004;
}
.noteNav{
  box-sizing: border-box;
  background-color: var(--light-color);
  width: 100%;
  height: 22px;
  border-radius: 6px 6px 0 0;
  display: flex;
  justify-content: right;
  padding: 0 12px;
}
.noteNavItem{
  background-color: transparent;
  max-height: 100%;
  font-size: .8em;
  display: flex;
  align-items: center;
}